*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------- Card Section ---------------------- */

.card--container{
  /* To give space around the card section */
  margin: 3em 2em; 

  /* 
    1. Instead of giving exact column number, we are saying if there is empty space auto-fill it. The minimum size of a column will be 10rem and maximum size will be 1fr.

    2. And then giving gap and centering the whoe card section.
  */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
}

.card{
  background-color: aquamarine;

  /* Centering the items inside the card */
  display: grid;
  justify-items: center;
  align-items: center;

  cursor: pointer;
  box-shadow: 0 0 5px 0 #aaa;
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.1);
}

.card--img_container{
  width: 80%;
}
.card--img_container img{
  width: 100%;
}
.card--info{
  text-align: center;
}
.card--info h2{
  margin-top: 0.5em;
}
.card--info p{
  margin: 0.5em 0 2em 0;
}

/* ---------X------------- Card Section --------X-------------- */
