*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards{
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  background-color: aquamarine;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 2em;
  cursor: pointer;
  box-shadow: 0 0 5px 0 #aaa;
  transition: transform 0.3s ease-in-out;
}
.card:hover{
  transform: scale(1.1);
}

.card__img-container{
  width: 100%;
}
.card__img-container img{
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -20%);
}
.card__info{
  text-align: center;
  margin-top: -1em;
}
.card__info p{
  margin: 1em 0;
}